<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:text="#{greeting}"></div>
<br>
<div>
    <span th:text="#{generated-new-key.text1}"></span>
    <strong th:text="${userName}"></strong>
    <span th:text="#{generated-new-key.text2}"></span>
    <strong th:text="${name}"></strong>
    <span th:text="#{generated-new-key.text3(${generateAfter})}"></span>
    <div th:text="#{generated-new-key.text4(${accessKeyId})}"></div>
</div>
<br>
<div th:text="#{bye}"></div>
<div th:text="#{bye2}"></div>
</body>
</html>
