<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:text="#{greeting}"></div>
    <br>
    <br>
    <span th:text="#{update-error.text}"></span>
    <strong th:text="${appName}"></strong>
    <span th:text="#{update-error.text2}"></span>
    <div th:text="${message}"></div>
    <div th:text="${stackTrace}"></div>
    <br>
    <div th:text="#{bye}"></div>
    <div th:text="#{bye2}"></div>
</body>
</html>
